<nav class="navbar is-link">
    <div class="navbar-brand">
        <a href="/" class="navbar-item"><img src="../img/logo.png"></a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Início</a>
            <a class="navbar-item" href="/categories/1">Categorias</a>
            <a class="navbar-item" href="/places">Estabelecimentos</a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/admin">Painel Administrativo</a>
        </div>
    </div>
</nav>