<%- include("../adminPartials/adminHeader.ejs") %>
<body>
    <%- include("../adminPartials/navbar.ejs") %>
    <br>
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title is-3">Categorias</p>
            </header>
            <div class="card-content">
                <a href="/admin/categories" class="button is-link">Ver Categorias</a>
            </div>
        </div>
        <br>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title is-3">Estabelecimentos</p>
            </header>
            <div class="card-content">
                <a href="/admin/places/" class="button is-link">Ver Estabelecimentos</a>
            </div>
        </div>
    </div>
</body>
</html>